{
    "plugins": [
        "react"
    ],
    "globals": {
        "Promise": false
    },
    "rules": {
        "comma-dangle": [ 2, "never" ],
        "no-cond-assign": [ 2, "always" ],
        "no-console": 1,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-empty-character-class": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": [ 0, "both" ],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-reserved-keys": 0,
        "no-sparse-arrays": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-jsdoc": 0,
        "valid-typeof": 2,
        "no-unexpected-multiline": 2,
        "accessor-pairs": [ 2, { "getWithoutSet": false, "setWithoutGet": true }],
        "block-scoped-var": 2,
        "complexity": [ 0, 11 ],
        "consistent-return": 2,
        "curly": [ 2, "multi-line" ],
        "default-case": 0,
        "dot-location": [ 2, "property" ],
        "dot-notation": [ 0, { "allowKeywords": true }],
        "eqeqeq": 0,
        "guard-for-in": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-div-regex": 2,
        "no-else-return": 0,
        "no-empty-label": 2,
        "no-eq-null": 0,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 0,
        "no-implied-eval": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 1,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-param-reassign": 0,
        "no-process-env": 0,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": [ 2, "always" ],
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 0,
        "no-void": 2,
        "no-warning-comments": 1,
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 0,
        "wrap-iife": [ 2, "inside" ],
        "yoda": [ 1, "never" ],
        "strict": [ 2, "global" ],
        "no-catch-shadow": 0,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-undefined": 0,
        "no-unused-vars": [ 2, { "vars": "all", "args": "none" }],
        "no-use-before-define": [1, "nofunc"],
        "handle-callback-err": [ 2, "err" ],
        "no-mixed-requires": [ 0, true ],
        "no-new-require": 2,
        "no-path-concat": 2,
        "no-process-exit": 2,
        "no-restricted-modules": 0,
        "no-sync": 0,
        "array-bracket-spacing": [ 0, "always"],
        "brace-style": [ 0, "stroustrup", { "allowSingleLine": false }],
        "camelcase": [2, {"properties":"never"}],
        "comma-spacing": [ 2, { "before": false, "after": true }],
        "comma-style": [ 0, "last" ],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [ 2, "that" ],
        "eol-last": 0,
        "func-names": 0,
        "func-style": [ 0, "expression" ],
        "key-spacing": [ 2, { "beforeColon": false, "afterColon": true }],
        "linebreak-style": [ 2, "unix" ],
        "lines-around-comment": [ 2, {
          "beforeBlockComment": false,
          "afterBlockComment": false,
          "beforeLineComment": false,
          "afterLineComment": false,
          "allowBlockStart": true,
          "allowBlockEnd": true
        }],
        "max-nested-callbacks": [ 0, 3 ],
        "new-cap": [ 2, { "newIsCap": true, "capIsNew": false }],
        "new-parens": 2,
        "newline-after-var": [ 0, "always" ],
        "no-array-constructor": 2,
        "no-continue": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": [ 2 ],
        "no-multiple-empty-lines": [ 2, { "max": 2 }],
        "no-nested-ternary": 0,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-ternary": 0,
        "no-trailing-spaces": [ 2, { "skipBlankLines": false }],
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": 2,
        "object-curly-spacing": [1, "always", {
          "objectsInObjects": true,
          "arraysInObjects": true
        }],
        "one-var": 0,
        "operator-assignment": [ 2, "always" ],
        "operator-linebreak": [ 0, "before" ],
        "quotes": [ 1, "single" ],
        "semi": [ 2, "always" ],
        "semi-spacing": [ 2, { "before": false, "after": true }],
        "sort-vars": [ 0, { "ignoreCase": true }],
        "space-after-keywords": [ 2, "always" ],
        "space-before-blocks": [ 2, "always" ],
        "space-before-function-paren": [ 2, { "anonymous": "never", "named": "never" }],
        "space-in-parens": [ 2, "never" ],
        "space-infix-ops": [ 2, { "int32Hint": false }],
        "space-return-throw-case": 2,
        "space-unary-ops": [ 2, { "words": true, "nonwords": false }],
        "spaced-comment": 0,
        "wrap-regex": 0,
        "no-const-assign": 2,
        "constructor-super": 2,
        "generator-star-spacing": [ 2, "both" ],
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": [ 2, "methods" ],
        "prefer-const": 0,
        "prefer-spread": 2,
        "max-depth": [ 0, 4 ],
        "max-len": [ 0, 120, 4 ],
        "max-params": [ 0, 11 ],
        "max-statements": [ 0, 100 ],
        "no-bitwise": 0,
        "no-plusplus": 0,
        "react/jsx-boolean-value": 0,
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-quotes": [1, "double"],
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/no-unknown-property": 2,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,
        "react/wrap-multilines": 1
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "globalReturn": false,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": false,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "jsx": true,
        "experimentalObjectRestSpread": true
    }
}
